<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<head>

</head>
<body>

<div class="container" layout:fragment="content">
  <h1>Doctor Details</h1>
  <p th:text="${doctorDetails.firstName} + ${doctorDetails.lastName}"></p>
  <p th:text="${doctorDetails.speciality}"></p>

  <a th:href="@{/schedule(doctorId=${doctorDetails.doctorId})}" class="btn btn-info col-2">Schedule Appointment</a>

</div>


</body>
</html>