<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<head>

</head>
<body>

<div class="container" layout:fragment="content">
  <h1>Our Personel</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Speciality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
      <td>
        <a th:href="@{/doctors/{id}(id=${doctor.doctorId})}"
           th:text="('Dr. ' + ${doctor.firstName} + ' ' + ${doctor.lastName})"></a>
      </td>
      <td th:text="${doctor.speciality}"></td>
    </tr>

    </tbody>
  </table>
</div>



</body>
</html>