<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<head>

</head>
<body>

<div class="container" layout:fragment="content">
  <h1>Welcome to Get Well Soon!</h1>
  <p>Schedule your visit now and Get Well Soon!</p>

  <!-- Check if the user is authenticated -->
  <div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Welcome back, <span th:text="${#authentication}">User</span>!</p>
    <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
  </div>

  <!-- If the user is not authenticated, show Login and Register buttons -->
  <div th:if="${#authorization.expression('!isAuthenticated()')}">
    <a th:href="@{/login}" class="btn btn-success">Login</a>
    <a th:href="@{/register}" class="btn btn-info">Register</a>
  </div>
</div>



</body>
</html>