<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<head>

</head>
<body>

<div class="container" layout:fragment="content">
<!--<h1 th:text="'To schedule appointment with Dr. ' + ${doctor.getFirstName() + ' ' +  ${doctor.getLastName()} + ' please provide your personal data:'}"></h1>-->
    <form action="#" th:action="@{/schedule}" th:object="${appointment}" method="POST">
        <input type="hidden" th:field="*{doctor.doctorId}" />
        <input type="hidden" th:field="*{patient.patientId}" />
        <input type="date" th:field="*{appointmentDate}" placeholder="Appointment Date" class="form-control mb-4 col-4">
        <input type="time" th:field="*{appointmentTime}" placeholder="Diagnosis" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Schedule Appointment</button>
    </form>


</div>


</body>
</html>